<%- include("templates/header") %>
  <h1>Welcome Daddy!</h1>
  <form action="/createUser" method="get">
    <button>Sign up</button>
  </form>
  <form action="/login" method="get">
    <button>Log in</button>
  </form>
<%- include("templates/footer") %>
