<%- include("templates/header") %>
<form action="/logout" method="/get"><button>Log out</button></form>

<table>
  <tr>
    #
  </tr>
  <tr>
    Description
  </tr>
  <% let i=0; %> 
  <% for(i=0; i < tasks.length; i++) { %> 
    <%- include('templates/task', { tasks: tasks[i]}) %> 
  <% } %>
</table>
<br>
<form action="/add" method="post">
  <input name="addTask" type="text" placeholder="Who's been a bad boy?"/>
  <button type="submit">Submit</button>
</form>
<% if (locals.missing==1) {%>
  <p>Enter a description, Daddy</p>
<% } %>
<br><br>
<button onclick="previous()">Back</button>
<%- include("templates/footer") %>
